<div class="student">
  <a
    ui-sref="courseDetails({id: newStudentDetails.course_id, school_id: newStudentDetails.institution_id})"
  >
    <button class="btn btn-outline-success">
      <i class="fas fa-angle-double-left"></i> Students
    </button>
  </a>
  <form ng-submit="updateCourse()">
    <h3 style="text-align: left">Edit the Student Course</h3>

    <div class="row mb-1">
      <label for="name" class="col-4 col-form-label">
        <p>Name</p>
      </label>
      <div class="col-8">
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          disabled
          ng-model="newStudentDetails.student"
        />
      </div>
    </div>

    <div class="row mb-1">
      <label for="course" class="col-4 col-form-label">
        <p>Course</p>
      </label>
      <div class="col-8">
        <select
          id="course"
          name="course"
          class="form-select"
          ng-model="subject_course"
          ng-options="course.course_name for course in courses"
          required
        >
        </select>
      </div>
    </div>

    <div class="d-grid gap-2">
      <button class="btn btn-success" type="submit">
        <i class="fas fa-save"></i> Student
      </button>
    </div>
  </form>
</div>
