<div class="student">
  <form ng-submit="editCourseInstitution()">
    <label>
      <p>Name:</p>
      <input
        type="text"
        ng-model = "newStudentDetails.student_name"
        disabled
      />
    </label>
    <label>
      <p>Course:</p>
      <input
        type="text"
        ng-model = "newStudentDetails.course_name"
      />
    </label>
    <label>
      <p>Institution:</p>
      <input
        type="text"
        ng-model = "newStudentDetails.institution_name"
      />
    </label>
    <button type="submit">Save Changes</button>
  </form>
</div>
